h1 {
	color: maroon;
	background: yellow;
	/*background: yellow url(titlebg4.jpg) repeat-x;*/
	font: italic 2em Times, serif;
	text-decoration: underline;
	border: 1px solid red;
	margin-bottom: 0;
	padding: 5px;
}